<div style="text-align:center">
  <h1>Observable DOM events</h1>
</div>
<div id="noform">
  <form action="#">
  <input id="emailInp" type="email" placeholder="EMail" autocomplete="username">
  <span id="mailErrMess">wrong mail format</span>
  <input id="passInp" type="password" placeholder="Password (***)" autocomplete="new-password">
  <span id="passErrMess">too short password</span>
  <input id="passRepInp" type="password" placeholder="Repeat Password (***)" autocomplete="current-password">
  <span id="passReErrMess">password do not match</span>
  <input id="sendBtn" type="button" value="Register">
  </form>
</div>
<ul id="output"></ul>
